body{
    background-color: #ffddff;
}
.container{
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 20px 0;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
    font-family: 'Work Sans',sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #142b37;
    border-radius: 5px;
    justify-items: center;
}
.wrapper{
    width: 100%;
    text-align: center;
}
input[type="range"]{
    display: inline-block;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}
span{
    display: inline-block;
    text-align: center;
    margin: 10px 60px;
    background-color: #0075FF;
    color: #ffffff;
    padding: 10px 30px;
    font-size: 18px;
    letter-spacing: 0.5px;
    border-radius: 2px;
}

#colorBox {
	background-color: #000000;
	top:-5px;
	width: 200px;
}

#cpy {
	color: #000000;
	font-size: 15px;
	font-weight: 1000;

	position: absolute;
	transform: translate(-50%,-50%);
    top: 67%;
    left: 61%;
    width: 600px;
}
